{% extends "layout.html" %}

{% block title %}
    Input
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1>Sudoku Solver</h1>
    </div>
    <div class="container">
        <form action="/" method="POST">
            <table class="sudoku_table">
                {% for n in range (0,9) %}
                <tr>
                    {% for m in range (0,9) %}
                    <!--Naming convention for cell (n,m) is nm-->
                    <td><input autocomplete="off" name="{{n}}{{m}}" type="text" maxlength="1"></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <input id = "submit_button" type="submit">
        </form>    
    </div>
{% endblock %}
