<!DOCTYPE html>

<html lang="en">
    <head>
        <link type="text/css" href="/static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/static/s_icon.png" rel="icon">
        <title>Sudoku Solver: {% block title %}{% endblock %}</title>
        
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>
